{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
     <div class="page-header">
         <h1> {{category.name}}</h1>
         <h2>Are you sure you wnat to delete the {{item.name}} item?</h2>
         <p>
             <h3>{{item.description}}</h3>
             <img src="{{item.image}}" width="240" height="160">
         </p>
         <div class="form-group">
             <form action="{{ url_for('deleteItem', category_id = category.id, item_id=item.id)}}" method = "post">
               <input type ="submit" value = "Delete" >
               <a href = "{{url_for('categoryList', category_id = category.id)}}"> Cancel </a>
             </form>
         </div>

     </div>
{% endblock %}
