{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
      <div class = "page-header">
          <h1>{{category.name}}</h1>
          <img src={{category.image}} width="240" height="160">
      </div>

      <div class = "flash">
          {% with messages = get_flashed_messages() %}
           {% if messages %}

             <ul>
                {% for message in messages %}
                  <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
           {% endif %}
          {% endwith %}
      </div>

      <div class = "list-group">
          <ul>
              {% for i in items %}
                <li class="list-group-item">
                    <h3>{{i.name}}</h3>
                    <p>
                        {{i.description}}
                    </p>
              	     <img src="{{i.image}}" width="240" height="160">
                </li>
              {% endfor %}
          </ul>

     </div>

 {% endblock %}
